[submodule "build"]
	path = build
	url = https://github.com/upbound/build
[submodule "crossplane-providers/provider-proxmoxve"]
	path = crossplane-providers/provider-proxmoxve
	url = https://github.com/dougsong/provider-proxmoxve
[submodule "crossplane-providers/provider-cloudflare"]
	path = crossplane-providers/provider-cloudflare
	url = https://github.com/cdloh/provider-cloudflare
