# CDK8s / KUTTL output
kubeconfig

# Env files
.env*
!.envrc

# Editor & system
.vscode/
.idea/
.DS_Store

# OS / misc
*.pid
*.pid.lock
*.tgz
.cache/
coverage/
*.lcov
logs/
*.log

kind-config.yaml

# KCL artifacts
models
crds
kcl/schemas/**/values.yaml
kcl/schemas/**/values.schema.json
kcl/schemas/**/main.k
kcl/schemas/**/kcl.mod*
kcl/schemas/**/models/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv
.cache/

# CLI artifact scripts / outputs
scripts/src/cli/artifacts/*.json
scripts/src/cli/artifacts/*.yaml

# Nix handles this
.pre-commit-config.yaml
.direnv
.nix-shell-env/
