


# CDK8s / KUTTL output
kubeconfig

# Env files
.env*
!.envrc

# Editor & system
.vscode/
.idea/
.DS_Store

# OS / misc
*.pid
*.pid.lock
*.tgz
.cache/
coverage/
*.lcov
logs/
*.log

kind-config.yaml

# KCL artifacts
models
crds

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Nix handles this
.pre-commit-config.yaml